{% extends "registration/base_login.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Signup{% endblock title %}

{% block content %}
<div class="col-md-10">
  <div class="card-group">
    <div class="card p-4">
      <div class="card-body">
        <h1>Cadastre-se</h1>
        <p class="text-muted">Crie sua conta.</p>

        <form method="POST">
          {% csrf_token %}
          {{ register_form|crispy }}
          <button class="btn btn-primary" type="submit">Register</button>
        </form>
      </div>
    </div>
    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%; justify-content: center !important">
      <div class="card-body text-center" style="flex: none;">
        <div>
          <img src="{% static 'img/django-logo-negative.png' %}" alt="django-logo-negative.png" width="250px">
          <p><a class="btn btn-primary active mt-3" href="/accounts/login/">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}